# <span style='color:blue'> LAB1: </span>
# <span style='color:blue'> PYTHON FOUNDATION </span>

# <span style='color:red'> Part 1: Getting started -----------------------------------------------------------------------</span>

### 1.1 - Code vs Markdown cells

In [ ]:
# This is a code cell
# The # indicates a comment, so this cell does nothing

### This is a markdown cell

### Markdown Cheatsheet https://www.markdownguide.org/cheat-sheet/

### 1.2 - Importing package

In [ ]:
import numpy as np

# <span style='color:red'> Part 2: Python Basics -------------------------------------------------------------------------</span>

### 2.1 - Data Types and Variables

In [ ]:
x = 1
print(x)             # variable 'x' holds value 1, an integer type

y = 2.5
print(y)             # variable 'y' holds value 2.5, a float type

z = True
print(z)             # variable 'z' holds value True, a boolean type

s = 'hello'
print(s)             # variable 's' holds value 'hello', a string type

### 2.2 - Printing variables

In [ ]:
var1 = 2021
var2 = 'Fall'

print(var1)            # Print single variable
print(var1, var2)      # Print multiple variable (separated by comma)

In [ ]:
var1
var1, var2             # Notebook will also output the last variable on the line by default

### 2.2 - Numbers

In [ ]:
num1 = 1          # Integer
num2 = 1.6        # Float
num3 = 2 + 6j     # Complex

# You can print out strings using either single or double quotes

print("Values of numbers:", num1,num2,num3)                                    # value display
print('and corresponding types:', type(num1), type(num2), type(num3))          # type() displays the data type

### 2.3 - Booleans

In [ ]:
bool1 = True      # Booleans should have their first letter capitalized
bool2 = False

print("Values of Boolean variables:",bool1,bool2)
print(type(bool1), type(bool2))

### 2.4 - Strings

In [ ]:
str1 = 'Go Huskies!'

# len(var) displays the length of 'var' if it has length attribute
# length of a string is the number of characters

print('A string, its type and length:', str1, type(str1), len(str1))

### 2.5 - Grouping data with Lists

In [ ]:
list_1 = [1, 2, 3]                                 # list of numbers
print(list_1)

list_2 = ['Hello', 'World']                        # list of strings
print(list_2)

list_3 = [1, 2, 3, 'Apple', 'orange']              # list of numbers + strings
print(list_3)

list_4 = [list_1, list_2]                          # list of lists
print(list_4)

### 2.6 - Indexing lists

In [ ]:
print(list_3[0])                                    # Indexing 1st element of the list (in Python, index 0 -> 1st element)

print(list_3[2])                                    # Indexing 3rd element

print(list_3[:3])                                   # Indexing first three elements

print(list_3[-1])                                   # Indexing last element

print(list_3[-3:])                                  # Indexing last three elements

print(list_3[2:])

In [ ]:
num_list = [1,2,3,4,5,6,7,8,9,10]

print(num_list[0::2])                               # Starting from 1st element, skip every 1 element

print(num_list[0::3])                               # Starting from 1st element, skip every 2 elements

print(num_list[1::3])                               # Starting from 2nd element, skip every 2 elements

print(num_list[1:6:2])

### 2.7 - Append, insert, delete elements to lists

In [ ]:
list_3_clone_1 = list_3.copy()                      # .copy() creates a duplicate variable
list_3_clone_1.append(4)                            # .append() adds an item at the end of the list
print(list_3_clone_1)

list_3_clone_2 = list_3.copy()
list_3_clone_2.insert(2, 'pineapple')               # Inserting a string 'pineapple' into 2nd index
print(list_3_clone_2)

list_3_clone_3 = list_3.copy() 
del list_3_clone_3[2]                               # Deleting 3rd element (2nd index) from the list
print(list_3_clone_3)

### 2.8 - Empty list and element check

In [ ]:
empty_list = []                                     # Construct an empty list
empty_list.append(5)                                # Append 5 to the list
print(empty_list)
print(5 in empty_list)

### 2.9 - Arithmatic operators

In [ ]:
float1, float2 = 5.4, 8.9                            # You can assign multiple variables in a single line with 'comma'
print(float1 + float2)                               # Addition

print(float1 - float2)                               # Subtraction

print(float1 * float2)                               # Multiplication

print(float1**2)                                     # Exponential

print(float1 / float2)                               # Division

float3, float4 = 10., 3.                             
print(float3 % float4)

### 2.10 - Comparison operators

In [ ]:
print(5 < 3)                                         # Greater Than

print(5 > 3)                                         # Less Than

print(5 >= 3)                                        # Greater Than or Equal to

print(5 <= 3)                                        # Less Than or Equal to

print(5 == 3)                                        # Equivalent to

print(5 != 3)                                        # Not Equivalent to

### 2.11 - Assignment operators

In [ ]:
var1 = 3
var1 += 3                                            # Add and Assign
print(var1)

var2 = 4 
var2 -= 1                                            # Subtract and Assign
print(var2)                

var3 = 5
var3 *= 1.5                                          # Multiply and Assign
print(var3)

var4 = 6
var4 /= 2                                            # Divide and Assign
print(var4)

### 2.12 - Logical operators

In [ ]:
bool1, bool2 = True, False
print(bool1 or bool2)                                 # OR operator

print(bool1 and bool2)                                # AND operator

print(not bool1)

### 2.13 Conditional Statements

In [ ]:
# if statement

# Define variables
num1 = 10 
num2 = 20

# IF Conditional statement
if num1 < num2: # equivalently, if (num1 < num2) == True
    
    print('num2 is larger than num1')

In [ ]:
# if-else statement

# Define variables
num1 = 20
num2 = 10

# IF-ELSE Conditional statement
if num1 < num2:
    
    print('num2 is larger than num1')
    
else:
    
    print('num2 is less or equal to num1')

In [ ]:
# if-elif-else statement

# Define variables
num1 = 20

# IF-ELIF-ELSE Conditional statement
if type(num1) == float:
    
    print('num1 is float')
    
elif type(num1) == bool:
    
    print('num1 is boolean')
    
else:
    
    print('num1 is neither float nor boolean')

### 2.14 Loops

In [ ]:
# For loop - Iterate through sequence

for i in range(1, 11):  # A sequence from 1 to 10
    
    if i % 2 == 0:
        print(i, " is even")
    else:
        print(i, " is odd")

In [ ]:
# For loop - Iterate through list elements

float_list = [2.5, 16.42, 10.77, 8.3, 34.21]

for num in float_list:  # Iterator goes through each item in the list
    print([num, num * 2])

In [ ]:
# While loop

# Define a list of numbers
number_list = [1,2,3,4,5,6,7,8,9,10]

# Initialize the iterator with 0
k = 0

while number_list[k] < 5:
    
    powered = number_list[k] ** 2 # Squaring the k-th element in the list
    
    print(powered) # Print squared value
    
    k += 1 # add 1 to k using assignment operator

### 2.15 Functions

In [ ]:
# Defining a function

def find_smaller_number(num1, num2):
    
    # IF-ELIF-ELSE conditions
    if num1 < num2:
        minimum = num1
        
    elif num1 == num2:
        minimum = 'two numbers are equal'
        
    else:
        minimum = num2
        
    return minimum

In [ ]:
minimum = find_smaller_number(num1 = 5, num2 = 17)
print(minimum)

# <span style='color:red'> Part 3: Numpy and Plotting --------------------------------------------------------------------</span>

### 3.1 Consturcting numpy arrays

In [ ]:
# From Python lists

import numpy as np

# 1D array
arr = np.array([1,2,3,4,5]) 

# 2D array
arr_2d = np.array([[1,2,3,4,5],
                  [6,7,8,9,10],
                  [11,12,13,14,15]])


print("Array dimensions: ", arr.shape) 
print("Array dimensions: ", arr_2d.shape)
print("Array type: ", type(arr))

In [ ]:
# From Numpy commands

# Define number of each dimension 
n1 = 3
n2 = 4

# Zeros array
zeros_1d = np.zeros(n1)
zeros_2d = np.zeros((n1,n2)) 

# Ones array
ones_1d = np.ones(n1)
ones_2d = np.ones((n1,n2))

# Creating array using np.arange
arr_arange = np.arange(0, 10, 1)     # (start, stop, stepsize)

# Creating an array using np.linspace
arr_linspace = np.linspace(0, 9, 10) # (start, stop, # of bins)

print("1D zeros array: ", zeros_1d)
print("1D ones array: ", ones_1d)
print("Number sequence from 0 to 9 using arange: ", arr_arange)
print("Number sequence from 0 to 9 using linspace: ", arr_linspace)

### 3.2 Slicing Arrays (1D)

In [ ]:
arr_1d_seq = np.arange(5)                                      # Sample 1D array

print(arr_1d_seq)

In [ ]:
print(arr_1d_seq[2:], arr_1d_seq[-3:])                         # Retrieves last 3 elements

In [ ]:
print(arr_1d_seq[:3], arr_1d_seq[:-2])                         # Retrieves first 3 elements

In [ ]:
print(arr_1d_seq[1:4], arr_1d_seq[-4:-1])                      # Retrieves 2nd - 4th elements

In [ ]:
print(arr_1d_seq[4], arr_1d_seq[-1])                           # Retrieves last element

### 3.3 Slicing Arrays (2D)

In [ ]:
arr_seq_1 = np.arange(5)
arr_seq_2 = np.arange(5, 10)
arr_seq_3 = np.arange(10, 15)
arr_seq_4 = np.arange(15, 20)
arr_seq_5 = np.arange(20, 25)

arr_2d_seq = np.vstack([arr_seq_1, arr_seq_2, arr_seq_3, arr_seq_4, arr_seq_5])
print(arr_2d_seq)                                              # Sample 2D matrix

In [ ]:
print(arr_2d_seq[:3])                                         # Retrieves first 3 rows
print(arr_2d_seq[:3, :])                                      
print(arr_2d_seq[:-2])                                        
print(arr_2d_seq[:-2, :])

In [ ]:
print(arr_2d_seq[2:])                                         # Retrieves last 3 rows
print(arr_2d_seq[2:, :])                                      
print(arr_2d_seq[-3:])                                        
print(arr_2d_seq[-3:, :])

In [ ]:
print(arr_2d_seq[:, 1:4])                                     # Retrieves 2nd - 4th columns                            
print(arr_2d_seq[:, -4:-1])

In [ ]:
print(arr_2d_seq[4])                                         # Retrieves last row
print(arr_2d_seq[4, :])                                      
print(arr_2d_seq[-1])                                        
print(arr_2d_seq[-1, :])

### 3.3 Numpy arithmatic operators

In [ ]:
arr_1 = np.arange(0, 10, 1)  # 0 to 9
arr_2 = np.arange(10, 20, 1) # 10 to 19

print("arr_1 + arr_2:", np.add(arr_1, arr_2))                  # Addition  (you can also use arr_1 + arr_2)

print("arr_1 - arr_2:", np.subtract(arr_1, arr_2))             # Subtraction (you can also use arr_1 - arr_2)

print("arr_1 * arr_2:", np.multiply(arr_1, arr_2))             # Multiplication (you can also use arr_1 * arr_2)

print("exp(arr_1):", np.exp(arr_1)[:5]) # Print first 5        # Exponential

print("arr_1 / arr_2:", np.divide(arr_1, arr_2)[:5])           # Division (you can also use arr_1 / arr_2)

print("10 % 3:", np.mod(10, 3))                                # Modulo

### 3.3 Math operators with Numpy

In [ ]:
x_arr = np.array([1,2,3])

print(np.sin(x_arr))                                               # Sine 

print(np.cos(x_arr))                                               # Cosine

print(np.tan(x_arr))                                               # Tangent

print(np.pi)                                                       # Pi

print(np.sqrt(x_arr))                                              # Square root

print(np.exp(x_arr))                                               # Exponential

### 3.4 Combining Arrays

In [ ]:
print(np.concatenate([arr_1, arr_2]))                              # Concatenate two arrays

print(np.stack([arr_1, arr_2]))                                    # Stack two arrays along new dimension

print(np.hstack([arr_1, arr_2]))                                   # Horizontally stack two arrays

print(np.vstack([arr_1, arr_2]))                                   # Vertically stack two arrays

In [ ]:
arr2d_1 = np.zeros((3,3))
arr2d_2 = np.ones((3,3))

print(np.concatenate([arr2d_1, arr2d_2]))                          # Concatenate two arrays (2D)

print(np.stack([arr2d_1, arr2d_2]))                                # Stack two arrays along new dimension (2D)

print(np.hstack([arr2d_1, arr2d_2]))                               # Horizontally stack two arrays (2D)

print(np.vstack([arr2d_1, arr2d_2]))                               # Vertically stack two arrays (2D)

### 3.5 Array Splitting

In [ ]:
array_2d_0 = np.arange(0, 4)
array_2d_1 = np.arange(4, 8)
array_2d_2 = np.arange(8, 12)
array_2d_3 = np.arange(12, 16)

array_2d = np.vstack([array_2d_0, array_2d_1, array_2d_2, array_2d_3]) # Sample 2D array to be split
print(array_2d)

In [ ]:
print(np.split(array_2d, 2, axis = 0))                                 # General split function

In [ ]:
print(np.hsplit(array_2d, 2))                                          # Horizontal split function

In [ ]:
print(np.vsplit(array_2d, 2))                                          # Vertical split function

In [ ]:
array_2d_tall = np.random.uniform(low = 0, high = 1, size = (100, 20))
array_2d_fat = np.random.uniform(low = 0, high = 1, size = (20, 100))

print(array_2d_tall.shape, array_2d_fat.shape )

In [ ]:
array_2d_tall_subs = np.split(array_2d_tall, [40, 80, 100], axis = 0)
print(array_2d_tall_subs[0].shape, array_2d_tall_subs[1].shape, array_2d_tall_subs[2].shape)

In [ ]:
array_2d_fat_subs = np.split(array_2d_fat, [20, 60, 100], axis = 1)
print(array_2d_fat_subs[0].shape, array_2d_fat_subs[1].shape, array_2d_fat_subs[2].shape)

### 3.6 Useful Numpy operations: Characteristic values of arrays

In [ ]:
print(np.min(arr_1))                                               # Minimum value 

print(np.max(arr_1))                                               # Maximum value 

print(np.mean(arr_1))                                              # Mean value

print(np.sum(arr_1))                                               # Summed value

### 3.7 Useful Numpy operations: Indexing arrays

In [ ]:
arr_3 = np.array([4,2,6,7,8,9,3])

print(np.argmin(arr_3))                                            # Minimum value index

print(np.argmax(arr_3))                                            # Maximum value index

print(np.argsort(arr_3))                                           # Sort indicies according to low value to high value

print(np.where(arr_3 < 7))                                         # Find indices satisfying a condition

### 3.8 Basic plotting

In [ ]:
#%matplotlib inline   # If using local notebook runtime, allows you to display the plot inside the jupyter notebook
#%matplotlib notebook # Alternatively, you can use this line instead for interactive plots

import matplotlib.pyplot as plt

In [ ]:
x = np.arange(0, 10, 1/32) # x axis data
y = np.sin(x)              # y axis data
plt.plot(x, y)             # plot the data
plt.show()

### 3.9 Labeling your plots

In [ ]:
plt.plot(x, y) 
plt.title('y=sin(x)')      # set the title
plt.xlabel('x')            # set the x axis label
plt.ylabel('y')            # set the y axis label
plt.xlim(-1, 11)           # set the x axis range
plt.ylim(-2, 2)            # set the y axis range
plt.grid()                 # enable the grid
plt.show()

### 3.10 Multiple plots

In [ ]:
# Multiple Plots
# On same figure 
x = np.arange(0, 10, 1/32) # x axis data
y1 = np.sin(x)             # y axis data 1
y2 = np.cos(x)             # y axis data 2
y3 = np.tan(x)             # y axis data 3
plt.figure(1)              # create figure 1
plt.plot(x, y1, label='sin(x)')
plt.plot(x, y2, label='cos(x)')
plt.plot(x, y3, label='tan(x)')
plt.xlabel('x')
plt.ylabel('y')
plt.xlim(-1, 11)
plt.ylim(-2, 2)
plt.suptitle('Trigonometric Functions')
plt.legend()
plt.show()

### 3.11 Subplots

In [ ]:
# Multiple Subplots
x = np.arange(0, 10, 1/32) # x axis data
y1 = np.sin(x)             # y axis data for subplot 1
y2 = np.cos(x)             # y axis data for subplot 2
y3 = np.tan(x)             # y axis data for subplot 3

fig = plt.figure(2,figsize=(8,8)) # create figure 2

plt.subplot(311)           # (number of rows, number of columns, current plot)
plt.plot(x, y1)
plt.title('sin(x)')
plt.xlabel('x')
plt.ylabel('y')

plt.subplot(312)
plt.plot(x, y2)
plt.title('cos(x)')
plt.xlabel('x')
plt.ylabel('y')

plt.subplot(313)
plt.plot(x, y3)
plt.title('tan(x)')
plt.xlabel('x')
plt.ylabel('y')
plt.ylim(-1, 1)

fig.tight_layout()
plt.show()

# <span style='color:red'> Supplementary: Basic Debugging ----------------------------------------------------------------</spain>

In [ ]:
# A toy function which divides 1 by the provided divisor

def test_func(divisor):
    
    val = 1/divisor
    
    breakpoint() # Upon execution of the code, activates Python debugger console at this line
    
    return val

In [ ]:
# Play with the Python debugger console
# Basic commands:
# h: help
# w: where
# n: next
# c: continue
# p: print
# l: list
# q: quit

test_func(2)

In [ ]:
# Useful Youtube video for the basics of Python Debugger
# https://www.youtube.com/watch?v=aZJnGOwzHtU